node_modules
dist
coverage
.awcache
test-report.*
junit.xml
*.log
*.orig
.awcache
public

# cypress
cypress/screenshots
cypress/videos

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
